<div class="addresses-address">

  <p><strong>{{translate title}}</strong></p>

  <div>{{address.name}}</div>

  <div>{{address.address}}</div>

  {{#if address.address2}}

    <div>{{address.address2}}</div>

  {{/if}}

  <div>{{address.city}}, {{address.state}}, {{address.zip}}</div>

</div>
