{{>templates/open page='order'}}

{{>templates/header}}

<main class="order-page">

  <div class="container">

    <div class="products-active-product">

      <div class="products-active-product-image">

        <img class="products-active-product-image-img"
          src="{{this.firePageData.variant.image_file}}"
          />

      </div>

      <div class="products-active-product-info"
            data-active-product="{{this.firePageData.variant.item_id}}"
            >

        <div class="products-active-product-info-container">

          <div class="products-active-product-info-item mod-name">

            <h1>{{translate this.firePageData.variant.name}}</h1>

          </div>

          <div class="products-active-product-info-item mod-description">

            <p>{{translate 'PRODUCT-DESCRIPTION'}}</p>

            <p>{{product.size}}</p>

            <p>{{translate 'BRAND'}}: {{product.brand}}</p>

          </div>

          <div class="product-pay">

            <div>
              {{translate 'QUANTITY'}}: {{this.firePageData.qty}}
            </div>

          </div>

          <div class="product-pay">

            <div>
              <strong>{{translate 'PRICE'}} - </strong>
              ${{this.firePageData.orderTotal}}
            </div>

          </div>

          <hr />

          <div class="addresses">

            {{> partials/address
                address=this.firePageData.shippingAddress
                title="SHIPPING-ADDRESS"
            }}

            {{> partials/address
                address=this.firePageData.billingAddress
                title='BILLING-ADDRESS'
            }}

          </div>

          <hr />

          <div>

            <p><strong>{{translate 'PURCHASED-ON'}}</strong></p>

            <div>{{this.firePageData.createdAt}}</div>

          </div>

          <hr />

          <div>

            <p><strong>{{translate 'STATUS'}}</strong></p>

            <div>Processing</div>

          </div>

        </div>

      </div>

    </div>

  </div>

</main>

{{>templates/footer}}

{{>templates/close}}
